{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_errors(form) }}

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(form.confirmPassword, {
            label: 'Confirm'
        }) }}
        <hr class="p-4">
        <h3>Terms and Conditions</h3>
        <article class="p-3">
            You agree that you are completely insane and by using the software built by a schizophrenic maniac all your bass belongs to us.
        </article>
        {{ form_row(form.agreeTerms) }}
        <hr class="p-4">
        <button type="submit" class="btn btn-primary btn-sm">Register</button>
    {{ form_end(form) }}
{% endblock %}
